body{font-family: 'Ubuntu', sans-serif;
    background: black;
}

:root{
    --primaryColor: #bb0a21;
    --badges: rgb(136, 27, 27);
    --textBg: white;
    --button: #f81515;
}

.nav-color{
    background: var(--primaryColor);
}
.badge-cate{
    background: var(--primaryColor);

}
.main-title{
    color: var(--primaryColor);
}
.main-title a{
    color: var(--textBg);   
}
.pic-fluid{
    width: 650px;
    height: 550px;

}
.chef-uten{
    color: var(--button);
}
.figure-img{
    width: 600px;
}
.pic-edit{
    width: 650px;
    height: 165px;
}
p{
    color: var(--textBg);
}
.foot{
    background: var(--primaryColor);
}
.kit{
    color: var(--textBg);
}